.hero{
  background-image: url(/imagens/fundo.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
    justify-content: center;
    text-align: center;
}

.master_container{
    padding-top: 80px;
}

.title{
    padding-bottom: 30px;
}

.title img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.title h1{
    font-size: 60px;
    color: aliceblue;
}


.links{
    gap: 50px;
}

.acessar{
    padding-top: 30px;
    color: aliceblue;
}


/* Botoes */
/* From Uiverse.io by gharsh11032000 */ 
.button {
    cursor: pointer;
    position: relative;
    width: 350px;
    padding: 10px 54px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 118px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
  
  
  /* Animação do clique */

  .icon-wrapper {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.icon-wrapper:active {
    transform: scale(0.9);
    fill: #ff5722; /* Cor ao clicar */
}

.icon {
    width: 50px; /* Tamanho do ícone */
    height: 50px;
    fill: #007bff; /* Cor inicial */
}

/* Efeito de pressionar e soltar */
@keyframes click-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.icon-wrapper.click-animation {
    animation: click-animation 0.2s ease-in-out;
}


/* Footer */


footer {
    background-color: #22222251;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}



/* Loading */

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Previne a rolagem enquanto a tela de carregamento está ativa */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514); /* Cor da tela de fundo branca com transparência */
    z-index: 9999; /* Z-index alto para estar acima de todo o conteúdo */
    display: none; /* Oculta por padrão */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    opacity: 0; /* Começa transparente */
    transition: opacity 5s ease; /* Transição suave para a opacidade */
  }

  .overlay.active {
    display: flex; /* Exibe a tela de carregamento quando a classe active é adicionada */
    opacity: 1; /* Define opacidade para 100% */
  }

  .loading {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0); /* Cor de fundo do spinner */
    border-radius: 8px; /* Bordas arredondadas para o spinner */
  }
  /*Fim Loading*/